---
import Layout from '../layouts/Layout.astro';
import EncabezadoSitio from '../components/sections/EncabezadoSitio.astro';
import SeccionHero from '../components/sections/SeccionHero.astro';
import SeccionesContenido from '../components/sections/SeccionesContenido.astro';
import PieSitio from '../components/sections/PieSitio.astro';
import { metadatosPagina } from '../data/propuesta';
import '../styles/propuesta.css';
---

<Layout title={metadatosPagina.title} description={metadatosPagina.description}>
  <EncabezadoSitio />
  <main id="inicio">
    <SeccionHero />
    <SeccionesContenido />
  </main>
  <PieSitio />
</Layout>
